<h2>Add Run Info Below</h2>

<a href="/">Home</a>
<br />
<a href="/add_events">Go To Add Events</a>
<br />
<a href="/add_conferences">Go To Add Conferences</a>
<br />
<a href="/add_teams">Go To Add Teams</a>
<br />
<a href="/add_swimmers">Go To Add Swimmers</a>

<form action="/runs_form" method="post">
  <p>
  Event:
  <br />
  <select name="run_event">
    <% Event.all.each do |event| %>
      <option value="<%= event.id %>">
      <%= event.event_name %>
      </option>
    <% end %>
  </select>
  <br />
  </p>

  <p>
  Swimmer:
  <br />
  <select name="run_swimmer">
    <% Swimmer.all.each do |swimmer| %>
      <option value="<%= swimmer.id %>">
      <%= swimmer.swimmer_name %>
      </option>
    <% end %>
  </select>
  <br />
  </p>

  <p>
  Run Time (in seconds):
  <br />
  <input type="number" step="any" name="run_time" required>
  </p>
  
  <p>
  <input type="submit" value="Add Run">
  </p>
</form>

<!--Edit this to create a table for each event that has the event name as the header, and subheaders for the swimmer and their run times.-->
<br />
<h3>Added Runs:</h3>


<% Event.all.each do |e| %>
  <table border="1"> 
    
    <thead>
      <tr>
        <th colspan="2"><%= e.event_name %></th>
      </tr>

      <tr>
        <th> Swimmer </th>
        <th> Run Time (sec.) </th>
      </tr>
    </thead>
    
    <% e.event_runs.each do |r| %>
      <tbody>
        <tr>
          <td><center><%= r.run_swimmer %></center></td>
          <td><center><%= r.run_time %></center></td>
          <td><center><a href="/delete_run/<%= r.id %>">delete</a></center></td>
        </tr>
      </tbody>
    <% end %>
  
  </table>
  <br />
<% end %>