Here is information about each event:

<p>
<% @events.each do |e| %>
  The event for gender <%= e.gender %> of <%= e.distance %> meters
  has id # <%= e.id %>. - 
  <a href= "/delete/event_deleted/<%= e.id %>"> Delete event</a> - 
  <a href= "/update/event_update_form/<%= e.id %>"> Update event</a> - 
  <a href="/results_top_three/<%= e.id %>"> View top three finishers in event
  </a> - 
  <a href="/results_by_event/<%= e.id %>"> View all finishers in event</a>
  <br>
<% end %>
</p>