<center>
<h1>Welcome Contestants!</h1>

<p>
  Competitors
</p>

<form action = "/competitors" method = "post">
  <p>
    First Name: <input type = "text" name = "fname">
  </p>

  <p>
    Last Name: <input type = "text" name = "lname">
  </p>

  <select name="school">

    <option value = 0>Select a school...</option>

      <% @schools.each do |school| %>
          <option value="<%= school.id %>">
            <%= school.school %>
          </option>
      <% end %>

  </select>

  <input type = "submit">
</form>

<p>
  Conferences
</p>

<form action = "/conferences" method = "post">
  <p>
    Conference: <input type = "text" name = "conference">
  </p>
  <input type = "submit">
</form>

<p>
  Events
</p>

<form action = "/events" method = "post">
  <p>
    Event: <input type = "text" name = "event">
  </p>
  <input type = "submit">
</form>

<p>
  Results
</p>

<form action = "/results" method = "post">

  <select name="competitor_id">

    <option>Select a competitor...</option>

      <% @results.each do |result| %>
          <option value="<%= result.competitor_id %>">
            <%= result.competitor_name %>
          </option>
      <% end %>

  </select>

  Events:<br>

  <% @events.each do |event| %>
    <input type="checkbox" name="event_id[]" value="<%= event.id %>">
    <label><%= event.event %><br>
  <% end %>

  <p>
    Time: <input type = "number" name = "time">
  </p>

  <input type = "submit">
</form>

<p>
  Schools
</p>

<form action = "/schools" method = "post">
  <p>
    School: <input type = "text" name = "school">
  </p>

  <select name = "conference_id">

    <option>Select a conference...</option>

      <% @schools.each do |school| %>
        <option value = "<%= school.conference_id %>">
          <%= school.conference %>
        </option>
      <% end %>
  </select>

  <input type = "submit">
</form>


<table border = 1px style="width:50%">
  <tr>
    <td align ="center">
      <a href = "/all_competitors">Competitors</a>
    </td>
    <td align ="center">
      <a href = "/all_conferences">Conferences</a>
    </td>
    <td align ="center">
      <a href = "/all_events">Events</a>
    </td>
    <td align ="center">
      <a href = "/all_results">Results</a>
    </td>
    <td align ="center">
      <a href = "/all_schools">Schools</a>
    </td>
  </tr>

</center>