Here are the results for each event:

<p>
<% @results.each do |r| %>
  In the event 
  <%= r.display_event_gender %> 
  <%= r.display_event_distance %>m
  <%= r.display_event_style %> 
  (id # <%= r.event_id %>),
  the competitor
  <%= r.display_competitor_first_name %>
  <%= r.display_competitor_last_name %>
  (id # <%= r.competitor_id %>)
  finished in <%= r.final_time %> seconds. - 
  <a href= "/delete/result_deleted/<%= r.id %>"> Delete result</a> - 
  <a href= "/update/result_update_form/<%= c.id %>"> Update result</a>
  <br>
<% end %>
</p>

