Here are the results for each event:

<!--this is what I had working previously before attempting to add methods-->
<p>
<% @results.each do |r| %>
  In event with id # <%= r.event_id %>,
  competitor with id # <%= r.competitor_id %>
  finished in <%= r.final_time %> seconds.<br>
<% end %>
</p>


<!--this is what broke my code somehow-->
<hr>
<p>
<% @results.each do |r| %>
  In event with id # <%= r.event_id %>,
  the competitor
  <%= @test.display_competitor_first_name %>
  <%= @test.display_competitor_last_name %>
  (id # <%= r.competitor_id %>)
  finished in <%= r.final_time %> seconds.<br>
<% end %>
</p>

