Here is information about each school:

<p>
<% @schools.each do |s| %>
  <%= s.school_name %>
  (<%= s.display_conference_of_school%> 
  Conference)
  has id # <%= s.id %>. - 
  <a href= "/delete/school_deleted/<%= s.id %>"> Delete school</a> - 
  <a href= "/update/school_update_form/<%= s.id %>"> Update school</a>
  <br>
<% end %>
</p><br>
<a href="/add/school_form_add">Add a school</a> | <a href="/">Home</a>
</p>