
<p> The Top three simmers are... <p>
<table border="1">
  <thead>
    <tr>
      <th>Swimmer</th>
      <th>Swimmer's University</th>
      <th>University Conference</th>
      <th>Swimmer's Time</th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |y| %>
    <%binding.pry%>
      <tr>
        <td>
          <a href="swimmer_bio/<%= y.id %>"> <%= y.swimmer %> </a>
        </td>
        <td>
          <%= y.university %>
        </td>
        <td>
          <%= y.conference %>
        </td>
        <td>
          <%= y.swimmer_time %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<a href="/">Return Home</a>