<p>Here is a list of all of the event details enetered:</p>

<% @event_details.each do |x| %>

  <p>
    <b>Event:</b>  
      <a href="view_event/<%= x.id %>"><%= x.event_name %></a>
    <b>Competitor:</b> 
      <a href="view_competitor/<%= x.id %>"><%= x.competitor_name %></a>
  </p>
  <p>
    Finish Time: 
      <%= x.finish_time %>
  </p>
<% end %>

<br>
<br>
<br>
<p><a href="/">Home</a></p>


