<center>
<a href="/">
      Home
      </a>
  <br>
  <br>
      This area is under construction.
<!-- <h1>
      Scored Events<br>
    </h1>
  <br>
   <br>
     <% Event.all.each do |a|%>
  <table border="1" cellpadding="5" cellspacing="5">
      <tr>
        <th><%= a.event_name %>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>School</th>
         <th>Conference</th>
        <th>Swim Time</th>
      </tr>
      <% Signup.where("event_id" => a.id).each do |n| %> 
      <tr> 
        <td><%= n.id %></td>
        <td><%= n.get_swimmer_name %></td>
        <td><%= n.get_school_name %></td>
        <td><%= n.get_conference_name %></td>
        <td><%= n.completed_swim_time %></td>
      
      </tr>
      <% end %>
      <br>
      <br>   
    </table>
    <% end %> 

</center> -->