

<h2>List of Colleges:</h2>


<table border="1">
  <thead>
    <tr>
      <th>College ID</th>
      <th>College Name</th>
      <th>Conference</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @colleges.each do |c| %>
      <tr>
        <td><%= c.id %></td>
        <td><%= c.college_name %></td>
        <td><% if c.conference_id == nil %> Not entered
            <% else %><%= c.conference_name %>
            <% end %>
        </td>
        <td><a href="/update/college/<%=c.id%>">Update</a></td>
        <td><form method = "post" action = "/delete/college/<%=c.id%>">
        <input type="submit" value="delete" onClick="alert('Are you sure? Deleting a college will delete all of the corresponding students in that college AND results entered for those students');return true;">
        </form></td>
      </tr>
    <% end %>
  </tbody>
</table>