<a href="/">home</a>
<br>
<a href="/create_result">create a new result</a>

<h1>Results</h1>

<table style="width:50%" border="1">
  <tr>
    <td>Result ID</td>
    <td>Signup ID</td>
    <td>Event</td>
    <td>Competitor</td>
    <td>Time</td>
  <tr>
  <% @results.each do |r| %>
  <tr>
    <td><%= r.id %></td>
    <td><%= r.signup_id %></td>
    <td><%= r.event.event_name %></td>
    <td><%= r.competitor.competitor_name %></td>
    <td><%= r.time %></td>
  </tr>
  <% end %>
</table>