<h1><%= @currentevent.event_name %></h1>


<h2>First Place</h2>
<p><%= @firstplacekitten.swimmer_name %><p>
<p><%= @firstplacekitten.find_college_name%><p>
<p>Finish Time: <%=@finishes[0]%> seconds</p>

<h2>Second Place</h2>
<p><%= @secondplacekitten.swimmer_name %><p>
<p><%= @secondplacekitten.find_college_name%><p>
<p>Finish Time: <%=@finishes[1]%> seconds</p>

<h2>Third Place</h2>
<p><%= @thirdplacekitten.swimmer_name %><p>
<p><%= @thirdplacekitten.find_college_name%><p>
<p>Finish Time: <%=@finishes[2]%>seconds</p>

Congratulations, Kitties!

<a href="/">Home</a>