<h1><%=@currentevent.event_name%><h1>

<p>Event ID: <%=@currentevent.id%></p>

<p>Participating Kitties:<p>
<ul>
  <% @signups.each do |post| %>
    <li><%= post.find_swimmer_name%> ////
    <%=post.find_swimmer_college%> ////
    <form action="/remove_swimmer/<%=post.id%>" method="post">
      <input type="submit" value="REMOVE THIS KITTY FROM EVENT">
    </form>
  <% end %>
</ul> 

<a href="/lock_event/<%= @currentevent.id%>">LOCK THIS EVENT</a>
<p></p>

<a href="/">Home</a>
