<h1><%=@currentevent.event_name%><h1>

<h3>Event ID: <%=@currentevent.id%><h3>

<h2>Enrolled Kitties:<h2>
<ul>
  <% @kitties.each do |post| %>
    <li>
    <%=post.swimmer_name%> 
    (<%=post.find_college_name%>) 
    <form action="/updatefinish" method="post">
      <fieldset>
        <legend>Add/Update Time</legend>
          <input type="hidden" value="<%=post.id%>" name="swimmerid"/>
          <input type="hidden" value="<%=@currentevent.id%>" name="eventid"/>
          <label for="time">Time (in seconds)</label>
            <input type="integer" name="finishtime" value="<%=post.finishtime(@currentevent.id)%>">
          <input type="submit">
      </fieldset>
    </form>
   </li>
  <% end %>
</ul>


<a href="/">Home</a>