<a href="/">home</a>

<h1>All Competitors</h1>

<table style="width:50%" border="1">
  <tr>
    <td>ID</td>
    <td>Name</td>
    <td>School</td>
    <td>Delete</td>
    <td>Update</td>
  </tr>
  <% @competitors.each do |c| %>
  <tr>
    <td><%= c.id %></td>
    <td><a href="/view_competitor/<%= c.id %>"><%= c.competitor_name %></a></td>
    <td><%= c.school_id %></td>
    <td><a href="/delete_competitor/<%= c.id %>">delete</a></td>
    <td><a href="/update_competitor/<%= c.id %>">update</a></td>   
  </tr>
  <% end %>
</table>