<center>
<a href="/">
      Home
      </a>
  <br>
  <br>
    <h1>
      Current Sign-ups:
    </h1>
  <br>
   <br>
  <table border="1" cellpadding="5" cellspacing="5">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>School</th>
         <th>Conference</th>
        <th>Event</th>
        <th>Swim Time</th>
      </tr>
      <% @signups.each do |n| %>   
      <tr>  
        <td><%= n.id %></td>
        <td><%= n.get_swimmer_name %></td>
        <td><%= n.get_school_name %></td>
        <td><%= n.get_conference_name %></td>
        <td><%= n.get_event_name %></td>
        <td><%= n.completed_swim_time %></td>
        <td>
            <form action="/delete_signup/<%= n.id %>" method="post">
              <input type="submit" value="X">
            </form>
          </td>
      </tr>
        <% end %>
      
    </table>
    
  <br>
  <br>
    Please complete the following to add a sign-up record: 
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
    <form action="/add_signup_confirmation" method="post">
      <select name="swim_signup_id">
        <option>
          Select a Swimmer...
        </option>
          <% @swimmers.each do |s| %>
        <option value = "<%= s.id %>">
          <%=s.swimmer_name%>
        </option>
          <% end %>
      </select>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
      <select name="event_signup_id">
      <option>Select an Event...</option>
      <% @events.each do |e| %>
      <option value = "<%= e.id %>"><%=e.event_name%></option>
      <% end %>
      </select>
  <br>
  <br>
  <br>
  <br>    
      <input type="submit">
    </form>
</center>
