
<h2>List of Students:</h2>


<table border="1">
  <thead>
    <tr>
      <th>Student ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Age</th>
      <th>College</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |s| %>
      <tr>
        <td><%= s.id %></td>
        <td><%= s.first_name %></td>
        <td><%= s.last_name %></td>
        <td><%= s.age %></td>
        <td><%= s.college_name %></td>
        <th><a href="/update/student/<%=s.id%>">Update</a></th>
        <td><a href="/delete/student/<%=s.id%>" onClick="alert('Are you sure? Deleting a student competitor will delete all of the corresponding results entered for that student');return true;">Delete</a></td>
      </tr>
    <% end %>
  </tbody>
</table>  