<h2><%=@student.first_name%> <%=@student.last_name%></h2>

<h3>Debate Tournament Registration Details:</h3>

      
<table border="1">
  <thead>
      <th>Event</th>
      <th>Score</th>
  </thead>

  <tbody>
      <tr>
        <%if @results == []%>
          <td>No Events Yet </td>
        <%else @results.each do |r| %>
          <td><a href="/read/activity/<%=r.event_id%>"><%= r.access_event.event_name %></a></td>
          <td><%= r.student_score %></td>
      </tr>
            <%end%>
          <%end%>
      
  </tbody>
</table>