
<h2>List of Students:</h2>


<table border="1">
  <thead>
    <tr>
      <th>Student ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Age</th>
      <th>College</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |s| %>
      <tr>
        <td><%= s.id %></td>
        <td><%= s.first_name %></td>
        <td><%= s.last_name %></td>
        <td><%= s.age %></td>
        <td><%= s.college_name %></td>
        <td> <a href="/delete/student/<%=s.id%>">Delete</a></td>
      </tr>
    <% end %>
  </tbody>
</table>  