
<p>
  <form action="/process_update_student_form/<%=@student.id%>">
    Student First Name:<br>
    <input type="text" name="student_first_name" 
    value="<%=@student.first_name%>"><br>
    Student Last Name:<br>
    <input type="text" name="student_last_name" 
    value="<%=@student.last_name%>"><br>
    Student Age:<br>
    <input type="number" name="student_age" 
    value="<%=@student.age%>"><br>
    Student College:<br>
    <select name="college_id">
      <% @colleges.each do |c| %>
      <option value="<%= c.id %>"> <%= c.college_name %></option>
      <% end %>
    </select>
    <input type="submit">
  </form>
</p>