<center>
<a href="/">
      Home
      </a>
  <br>
 <h1>
      Current Sign-ups:
    </h1>
  <br>
   <br>
  <table border="1" cellpadding="5" cellspacing="5">
      <tr>
        <form action="/add_score_confirmation" method="post">
        <th>Name</th>
        <th>School</th>
        <th>Event</th>
        <th>Swim Time</th>
        <th>Edit?</th>
      </tr>
      <% @sorted_signup_records.each do |n| %>   

      <tr>  
        <td><%= n[1] %></td>
        <td><%= n[2] %></td>
        <td><%= n[3] %></td>
        <td><%= n[4] %></td>
        <td><input type="checkbox" name="signup_ids_to_score[]" value="<%= n[0] %>">
        </td>
      </tr>
        <% end %>
      
    </table>

  <br>
    <h1>
      This will add/overwrite a new time record to the database.
    </h1>
  <br>
  <br>
      Final Time (eg: "012345")
  <br>
  <br>
      <input type="integer" name="signup_1_time">
  <br>
  <br>
      <input type="submit">
      </form>
</center>
