<h1>Event Results</h1>
<br>
<table border="1">
  <thead>
    <tr>
      <th colspan="3">Result ID</th>
      <th>Game</th>
      <th>Gamer</th>
      <th>Completion Time</th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |r| %>
    <tr>
      <td><center><%= r.id %></center></td>
      <td><form action="/edit_results_form/<%=r.id%>">
            <input type="submit" value="Edit"></td>
          </form>
      <td><form action="/delete_result/<%=r.id%>" method="post">
            <input type="submit" value="Delete"></td>
          </form>    
      <td><a href="game/<%=r.game_id%>">
          <%=r.game_access.game_name%></a></td>
      <td><a href="gamer/<%=r.gamer_id%>">
          <%= r.gamer_access.last_name %>, <%= r.gamer_access.first_name %></a>
      </td>
      <td><center><%= r.completion_time %></center></td>
    </tr>
    <% end %>
  </tbody>
</table>
<br>
<br>
<a href="/">Home</a>