<h2>List of Results:</h2>

<table border="1">
  <thead>
    <tr>
      <th>Result ID</th>
      <th>Student First Name</th>
      <th>Student Last Name</th>
      <th>Event Name</th>
      <th>Student Score</th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |r| %>
      <tr>
        <td><%= r.id %></td>
        <td><%= r.access_student.first_name %></td>
        <td><%= r.access_student.last_name %></td>
        <td><%= r.access_event.event_name %></td>
        <td><%= r.student_score %></td>
      </tr>
    <% end %>
  </tbody>
</table>