<h1>Register Student for Event:</h1>

<h2>Please select the student:</h2><br>

<form method="post" action="/result/create">
    Student:<br>
    <select name="student_id">
      <% @students.each do |s| %>
        <option value="<%= s.id %>"><%= s.first_name %> <%= s.last_name %>
        </option>
      <% end %>
    </select><br>


<h2>Please select the event:</h2><br>
  
  
    Activity:<br>
    <select name="activity_id">
      <% @activities.each do |a| %>
        <option value="<%= a.id %>"><%= a.event_name %></option>
      <% end %>
    </select><br>
    <input type="submit">
  </form></p>