
<center>

<TABLE  BORDER="5" WIDTH="80%" >
   <TR>
      
    <H1><BR><SPAN>SWIMMER INFORMATION</SPAN></H1>
      
   </TR>
      <th>Last Name</th>
      <th>First Name</th>
      <th>Team ID</th>
      <th>Age</th>
      <th>Height</th>
      <th>Weight</th>
    </tr>
  </thead>

  <tbody>
    <% @info.each do |info| %>
      <tr>
        <td><%= info.last_name %></td>
        <td><%= info.first_name %></td>
        <td><%= info.team_name %> - <%= info.team_access.conference_name %></td>
        <td><%= info.age %></td>
        <td><%= info.height %></td>
        <td><%= info.weight %></td>
        </tr>
    <% end %>
  </tbody>
</table>
</center>
<br>
<br>

<center><a href="http://localhost:9292/">Admin Page</a></center>
