<p>The following scores have been added:</p>
<p>The overall score for this contestant is <%= @score.overall %> based on the information that was entered below</p>
<p>ID - <%= @score.id %><br>
   Chili ID - <%= @score.chili_id %><br>
   Competition ID - <%= @score.competition_id %><br>
   Appearance Score - <%= @score.appearance %><br>
   Aroma Score - <%= @score.aroma %><br>
   Texture Score - <%= @score.texture %><br>
   Flavor Score - <%= @score.flavor %><br>
   Heat Score - <%= @score.heat %></p>

<br>
<br>

<table border="0">
<tr>

<td>
  <form action="/add_city">
    <input type="submit" value="Add City">
  </form>
</td>

<td>
  <form action="/add_contestant">
    <input type="submit" value="Add Contestant">
</form>
</td>

<td>
  <form action="/add_chili">
    <input type="submit" value="Add Chili">
  </form>
</td>

<td>
  <form action="/add_competition">
    <input type="submit" value="Add Competition">
  </form>

<td>
  <form action="/add_scores">
    <input type="submit" value="Add Scores">
  </form>
</td>

</tr>
</table>


<table border="0">
<tr>

<td>
  <form action="/view_cities">
      <input type="submit" value="View Cities">
  </form>
</td>

<td>
  <form action="/view_contestants">
      <input type="submit" value="View Contestants">
  </form>
</td>

<td>
  <form action="/view_chilies">
      <input type="submit" value="View Chilies">
  </form>
</td>

<td>
  <form action="/view_competitions">
      <input type="submit" value="View Competitions">
  </form>
</td>

<td>
  <form action="/view_scores">
      <input type="submit" value="View Scores">
  </form>
</td>

<td>
  <form action="/view_winners">
      <input type="submit" value="View Winners">
  </form>
</td>

</tr>
</table>

<br>
<br>


<td>
  <form action="/">
    <input type="submit" value="Homepage">
  </form>
</td>