<p>Success your scores have been added</p>
<p>Here's a list of the scores so far</p>

<% @scores.each do |x|%>
  <!-- <p><%= x.contestant_first_name %> NONE OF THIS CODE RUNS!!!! NEED TO MAKE METHODS
     <%= x.contestant_last_name %> entered
     <%= x.chili_name %> into the 
     <%= x.competition_name %> category and received the following rankings<br> --> 

     <strong>Appearance - <%= x.appearance %><br>
     Aroma - <%= x.aroma %><br>
     Flavor - <%= x.flavor %><br>
     Texture - <%= x.texture %><br>
     Heat - <%= x.heat %><br>
     Overall - <%= x.overall %></strong></p>
<% end %>

<p><a href="/scores">Add Another Contestant's Scores</a></p>
<p><a href="/">Home</a></p>

