

<center>

  <h1>Edit Sign Up Form</h1>

  <form action="/process_signup_form/<%= @info.id %>" method="post">
  
    Swimmer ID
    <input type="number" 
    <select name="swimmer_info_id" value="<%= @info.swimmer_info_id %>">

    <p>
    <label for="Swimmer Name">Swimmer</label>
  
    Event ID
    <input type="number" name="event_id" value="<%= @info.event_id %>">

    <label for="username">Time:</label>

      <input type="float" name="time" value="<%= @info.time %>">

    <label for="username">Rank:</label>

      <input type="number" name="rank" value="<%= @info.rank %>">

    <input type="submit">
  </form>
  
<a href="/sign_up_table">Back</a>
</center>