<h3>
  <a href="/">
    Home
  </a>
</h3>

<h1>Results</h1>

<p>
  <a href="/results/new">
    Click here to add a new result
  </a>
</p>

<table border="1">
  <thead>
    <tr>
      <th>Penguin</th>
      <th>Event</th>
      <th>Time</th>
      <th>Edit/Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |r| %>
      <tr>
        <% if r.penguin_access != nil %>
          <td>
            <%= r.penguin_access.first_name %> 
            <%= r.penguin_access.last_name %>
          </td>
        <% end %>       
        <% if r.event_access != nil %>
        <td><%= r.event_access.name %></td>
        <% end %>
        <td><%= r.time %> (seconds)</td>
        <td>
          <% if r.id != nil %>
            <form action="/results/delete/<%= r.id %>" method="post">
              <input type="submit" value="delete">
            </form>
            <a href="/results/edit/<%= r.id %>">
              <input type="submit" value="edit">
            </a>            
          <% end %>
        </td>         
      </tr>
    <% end %>
  </tbody>
</table>