<p>To edit a result to the system, type the result information in the form below.</p>

<% if @result.event_access.locked == true %>

    <h2 style="color:red";>This event has been locked and no further changes can be made!</h2>

<% else %>

  <form action="/results/process_edit/<%= @result.id %>" method="post">
    <label>Select Penguin Name</label>
    <select name ="edit_penguin_id">
      <% @penguins.each do |p| %>
        <option value="<%= p.id%>" <% if p.id == @result.penguin_id %> selected <% end %> >
          <%= p.first_name%> <%=p.last_name %>
        </option>
      <% end %> 
    </select>

    <label>Select Event</label>
    <select name ="edit_event_id">
      <% @events.each do |e| %>
        <option value="<%= e.id%>">
          <%= e.name%>
        </option>
      <% end %>
        <option selected> <%= @result.event_access.name %>
        </option>    
    </select>

    <label>Enter Time</label>
    <input type="number" step="any" name="edit_time" value="<%= @result.time %>"> (Time in seconds)

    <input type="submit" value="update">

  </form>
<% end %>