<% if @results.empty? == false %>

  <table border="1">
    <thead>
      <tr>
        <th>Penguin</th>
        <th>Event</th>
        <th>Time</th>
        <th>Edit/Delete</th>
      </tr>
    </thead>

    <tbody>
        <% @results.each do |r|%>
          <td>
            <%= r.penguin_access.first_name %> 
            <%= r.penguin_access.last_name %>
          </td>
          <td><%= r.event_access.name %></td>
          <td><%= r.time %> (seconds)</td>
          <td>
            <form action="/results/delete/<%= r.id %>" method="post">
              <input type="submit" value="delete">
            </form>
            <a href="/results/edit/<%= r.id %>">
              <input type="submit" value="edit">
            </a>            
          </td>
        <% end %>          
      </tr>
    </tbody>
  </table>

<% else %>
<p>There are currently no results saved for this event</p>
<p><a href="/events">BACK</a>
<% end %>