<h1 style="color:green;">Event Info</h1>

<h3> <%= @event.name %> </h3>

	<ul>
	<% if @event.list_of_results.empty? %>
		No competitors have been added.
		<% else %>
		<% @event.list_of_results.each do |c| %>
			<li>
				<a href="/profile/<%= c.id %>">
					<%=c.first_name %> <%= c.last_name %>
				</a>
			</li>
			<% end %>
		<% end %>
	</ul>

<form action="/add_entry" method="post">

  <select name="event_id">
        <option selected disabled>Choose event</option>
  			<% @list_events.each do |e| %>
  				<option value= "<%=e.id%>"> <%=e.name%> </option>
  			<%end%>
  </select>

  <select name="competitor_id">
	   <option selected disabled>Choose competitor</option>
			<% @list_competitors.each do |c| %>
				<option value= "<%=c.id%>"> <%=c.first_name%> <%=c.last_name%> </option>
			<%end%>
  </select>
  
  <input type="submit">
  
</form>




<h4> Winners </h4>
	<ol>
		<% if @event.top_three == nil%>
		This event is not over.
			<% else %>
				<% @event.top_three.each do |result| %>
					<li>
						<a href="/profile/<%= result.competitor_id %>">
						<%= result.name_of_competitor %> 
						</a>
					</li>
			<% end %>
		<% end %>
	</ol>

<p><a href="/events/edit/<%= @event.id %>"> Edit this event. </a></p>

<p><a href="/results/add_new"> Add entries. </a></p>

<p><a href="/"> Home </a></p>

