<h1>Event Info</h1>

<h3> <%= @event.name %> </h3>

	<ul>
	<% if @event.list_of_results.empty? %>
		No competitors have been added.
		<% else %>
		<% @event.list_of_results.each do |c| %>
			<li>
				<a href="/profile/<%= c.id %>">
					<%=c.first_name %> <%= c.last_name %>
				</a>
			</li>
			<% end %>
		<% end %>
	</ul>

<h4> Winners </h4>
	<ul>
<!-- 		<li> First Place: 
			 <%= @event.name_of_first %> 
		</li>

		<li> Second Place: 
			 <%= @event.name_of_second %> 
		</li>

		<li> Third Place: 
			 <%= @event.name_of_third %>  
		</li> -->
	</ul>

<p><a href="/events/edit/<%= @event.id %>"> Edit this event. </a></p>

<p><a href="/results/add_new"> Add entries. </a></p>

<p><a href="/"> Home </a></p>

