<h1><%= @event.event.capitalize %></h1>

<p>
  Top Three Finishers:
</p>

<ol>
  <li>
    <%= @event.first %>
  </li>

  <li>   
    <%= @event.second %>
  </li>

  <li>
    <%= @event.third %>
  </li>

</ol>

<p>
  Competitors:
</p>

<% @event.results.each do |r| %>
  <% if r.competitor_name == nil %>
  <% else %>
    <ul>
      <li>
        <%= r.competitor_name.first_name.capitalize + " " + r.competitor_name.last_name.capitalize %>
      </li>
    </ul>
  <% end %>  
<% end %>


<p><a href="/all_events">Back</a></p>
<p><a href="/">Home</a></p>
