<h1><%= @event.event.capitalize %></h1>

<p>
  Top Three Finishers:
</p>

<ol>
  <li>
    <%= @event.first %>
  </li>

  <li>   
    <%= @event.second %>
  </li>

  <li>
    <%= @event.third %>
  </li>

</ol>

<p>
  Competitors:
</p>

<% @event.results.each do |r| %>
<ul>
  <li>
    <%= r.competitor_name %>
  </li>
</ul>  
<% end %>


<p><a href="/all_events">Back</a></p>
<p><a href="/">Home</a></p>
