<h1><%=@activity.event_name%></h1>

<%if @activity.lock == true%>
  <h2>Event is Locked - <form method = "post" action = "/unlock/activity/<%=@activity.id%>">
        <input type="submit" value="Unlock" onClick="alert('Are you sure? This will unlock the event');return true;">
      </form></h2>
<%else%>
  <h2><form method = "post" action = "/lock/activity/<%=@activity.id%>">
        <input type="submit" value="Lock" onClick="alert('Are you sure? This will lock the event');return true;">
      </form>
  </h2>
<%end%>


<h2>Top Three Student Competitors for <%=@activity.event_name%></h2>

<table border="1">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Student Name</th>
    </tr>
  </thead>


  <tbody>
    <tr>
    <% if @activity.event_over? == true %>
      <% @top_three_results_for_activity.each_with_index do |r, i|%>
        <td><%= i + 1 %></td>
        <td><a href="/read/student/<%=r.student_id%>">
      <%= r.access_student.first_name %> <%= r.access_student.last_name %></a>
        </td>
    </tr>
      <%end%>
    <%else%>
    <tr>
        <td>Event Not Over Yet</td>
        <td>Event Not Over Yet</td>
    </tr>
    <%end%>
  </tbody>
</table>
  
<br>

<h2>All Students Registered for <%=@activity.event_name%></h2>
      
<table border="1">
  <thead>
    <tr>
      <th>Registered Student</th>
      <th>Score for Activity</th>
    </tr>
  </thead>

  <tbody>
    <tr>
        <%if @results == []%>
          <td>No Students Registered Yet</td>
        <%else @results.each do |r| %>
                <td><a href="/read/student/<%=r.student_id%>"><%= r.access_student.first_name %> 
                <%= r.access_student.last_name %></td>
                <td><%= r.student_score %></td>
                </tr>
              <%end%>
        <%end%>
      </td>
    </tr>
  </tbody>
</table>

