<center>
    <a href="/">
      Home
    </a>
  <br>
  <br>
    <h2>
      Conferences
    </h2>
  <br>
  <br>
    <table border="1" cellpadding="5" cellspacing="5">
      <tr>
        <th>
          ID
        </th>
        <th>
          Name
        </th>
        <th>
          <img src="https://cdn0.iconfinder.com/data/icons/vector-basic-tab-bar-icons/48/recycle_bin-128.png" width="30" height="30" >
        </th>
      </tr>
      
      <% @conferences_all.each do |n| %> 
        <tr> 
          <td>
            <%= n.id %>
          </td>
          <td>
            <%= n.conference_name %>
          </td>
          <td>
            <form action="/delete_conference/<%= n.id %>" method="post">
              <input type="submit" value="X">
            </form>
          </td>
        </tr>
      <% end %>
    </table>
  <br>
  <br>
    <h2>
      Schools
    </h2>
  <br>
  <br>
    <table border="1" cellpadding="5" cellspacing="5">
      <tr>
        <th>
          ID
        </th>
        <th>
          Name
        </th>
        <th>
          Conference
        </th>
        <th>
          <img src="https://cdn0.iconfinder.com/data/icons/vector-basic-tab-bar-icons/48/recycle_bin-128.png" width="30" height="30" >
        </th>
      </tr>

    <% @schools_all.each do |n| %> 
      <tr> 
        <td>
          <%= n.id %>
        </td>
        <td>
          <%= n.school_name %>
        </td>
        <td>
          <%= n.get_conference_name %>
        </td>
        <td>
          <form action="/delete_school/<%= n.id %>" method="post">
            <input type="submit" value="X">
          </form>
        </td>
      </tr>
    <% end %>
    </table>
  <br>
  <br>       
  <br>
  <br>
    <h1>
      This will add a school and its conference to the database.
    </h1>
  <br>
  <br>
  <br>
    <form action="/add_school_and_conference_confirmation" method="post">
      Name of school:
  <br>
  <br>
      <input type="text" name="school_1_name">
  <br>
  <br>
      Name of conference:
  <br>
  <br>
      <input type="text" name="conference_1_name">
  <br>
  <br>
      <input type="submit">
    </form>
</center>
