<a href="/">home</a>
<br>
<a href="/schools">back to all schools</a>

<h1><%= @school.school_name %></h1>
<h2><%= @school.conf_name %></h2>

<table style="width:50%" border="1">
  <tr>
    <td>competitors from <%= @school.school_name %></td>
  </tr>
  <% @competitor.each do |c| %>
  <tr>
    <td><a href="/view_competitor/<%= c.id %>"><%= c.competitor_name %></a></td>
  </tr>
  <% end %>

</table>