
<h2>List of Students:</h2>


<table border="1">
  <thead>
    <tr>
      <th>Student ID</th>
      <th>Name</th>
      <th>Age</th>
      <th>College - Conference</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |s| %>
      <tr>
        <td><%= s.id %></td>
        <td><a href="/read/student/<%=s.id%>"><%= s.first_name %> 
        <%= s.last_name %></a></td>
        <td><%= s.age %></td>
        <td><%= s.access_college.college_name %> -
        <%= s.access_college.conference_name %></td>
        <td><a href="/update/student/<%=s.id%>">Update</a></td>
        <td><form method = "post" action = "/delete/student/<%=s.id%>">
        <input type="submit" value="delete" onClick="alert('Are you sure? Deleting a student competitor will delete all of the corresponding results entered for that student');return true;">
        </form></td>
      </tr>
    <% end %>
  </tbody>
</table>  