<h2><%=@student.first_name%> <%=@student.last_name%></h2>



<table border="1">
  <thead>
      <th>College</th>
      <th>Conference</th>
  </thead>

  <tbody>
    <tr>
      <td><%= @student.access_college.college_name %></td>
      <td><%= @student.access_college.conference_name %></td>
    </tr>
  </tbody>
</table>
<br>


<h2>Events Registered but not Completed Yet</h2>
<table border="1">
  <thead>
      <th>Activity</th>
      <th>Add Score</th>
  </thead>

  <tbody>
      <tr>
        <%@results_awaiting_score.each do |r| %>
          <td><a href="/read/activity/<%=r.activity_id%>"><%= r.access_event.event_name %></a></td>
          <td><a href="/result/update/<%=r.id%>">Add Score</a></td>
      </tr>
        <%end%>
      
  </tbody>
</table>

<h2>Events Completed</h2>
<table border="1">
  <thead>
      <th>Activity</th>
      <th>Score</th>
  </thead>

  <tbody>
      <tr>
        <%@completed_results.each do |r| %>
          <td><a href="/read/activity/<%=r.activity_id%>"><%= r.access_event.event_name %></a></td>
          <td><%= r.student_score %></td>
      </tr>
        <%end%>
      
  </tbody>
</table>




<h2>Top 3 Best Performances for 
  <%=@student.first_name%> <%=@student.last_name%></h2>

<table border="1">
  <thead>
    <tr>
      <th>Performance</th>
      <th>Activity Name</th>
      <th><%=@student.first_name%> <%=@student.last_name%>'s Score</th>
      <th>Overall Rank in Activity</th>
    </tr>
  </thead>


  <tbody>
    <tr>
      <%if @top_three_activities == []%>
        <td>No Performances Yet</td>
      <%else @top_three_activities.each_with_index do |r, i|%>
        <td><%= i + 1 %></td>
        <td><a href="/read/activity/<%=r.access_event.id%>">
        <%= r.access_event.event_name %></a></td>
          <td><%=r.student_score%></td>

          <td>
          <%@ordered_results = r.ordered_results_for_activity(r.access_event)%>
          <%=(@ordered_results.index(r) + 1)%>
          <%if r.access_event.event_over? == true%>
                 - FINAL
          </td>
            <%end%>
    </tr>
          <%end%>
      <%end%>
    
          
        
  </tbody>
</table>


<h3>Debate Tournament Registration Details:</h3>
<br>   
<table border="1">
  <thead>
      <th>Event</th>
      <th>Score</th>
  </thead>

  <tbody>
      <tr>
        <%if @results == []%>
          <td>No Events Yet </td>
        <%else @results.each do |r| %>
          <td><a href="/read/activity/<%=r.activity_id%>"><%= r.access_event.event_name %></a></td>
          <td><%= r.student_score %></td>
      </tr>
            <%end%>
          <%end%>
      
  </tbody>
</table>