<center>
<a href="/">
      Home
       </a>
  <br>
    <h1> 
      Swimmers 
    </h1>
  <table border="1" cellpadding="5" cellspacing="5">
    <tr>
        <th>ID</th>
        <th>Name</th>
         <th>School</th>
         <th>Edit Swimmer Name</th>
    </tr>
      <% @swimmers.each do |n| %> 
    <tr> 
        <td><%= n.id %></td>
        <td><%= n.swimmer_name %></td>
        <td><%= n.get_school_name %></td>
        <td><form action="/edit_swimmer_name/<%= n.id %>" method="post">
            <input type="text" name="swim_edit_name">
            <input type="submit">
          </form>
        </td>
        <td><form action="/delete_swimmer/<%= n.id %>" method="post">
            <input type="submit" value="X">
          </form>
        </td>
    </tr>
      <% end %>
      <br>
      <br>   
    </table>
    <h2>
      This will add a swimmer to the database.
    </h2>
  <br>
    <form action="/add_swimmer_confirmation" method="post">
      Swimmer name:
  <br>
  <br>
      <input type="text" name="swim_1_name">
  <br>
  <br>
  <br>
  <br>
      School name:
  <br>
  <br>
      <select name="school_1_id">
      <option>Select a School...</option>
      <% @schools.each do |s| %>
      <option value = "<%= s.id %>"><%=s.school_name%></option>
      <% end %>
      </select>
  <br>
  <br>
  <br>
  <br>
  <br>    
      <input type="submit">
    </form>
</center>
