<center><h1> <%= @competitor.name %> </h1>

Age:&nbsp;<b><%= @competitor.age %></b> &emsp;|&emsp;
College:&nbsp;<b><%= @competitor.get_college_name %></b>&emsp;|&emsp;
Conference:&nbsp;<b><%= @competitor.get_conference_name %></b>
<br>
<br>
<br>
<table border="0">
  <thead>
    <tr>

      <th>Activity&emsp;&emsp;&emsp;&emsp;&emsp;</th>
      <th>Score&emsp;</th>
      <th>Possible Points&emsp;</th>
      <th>Score (As %)&emsp;</th>
    </tr>
  </thead>
  <tbody>
      <% @results.each do |r| %>
      <tr>
        <td><%= r.get_activity_name %></td>
        <td><%= r.score %></td>
        <td><%= r.get_activity_max_score %></td>
        <td><%= "meep" %></td></tr>
      </tr>
      <% end %>
  </tbody>
</table>
</center>

<br>
<br>
<br>

<center>
<table border="0">
  <thead>
    <tr>
    <th><form method="GET" action="/competitors/competitor/<%= @competitor.id %>/add_score">
      <input type="submit" value="Add New Score">&emsp;</form></th>
      <th><form method="get" action="/competitors/competitor/<%= @competitor.id %>/update_competitor">
      <input type="submit" value="Update Competitor">&emsp;</form></th>
      <th><form method="POST" action="/competitors/competitor/<%= @competitor.id %>/delete/confirmation">
      <input type="submit" value="Delete Competitor">&emsp;</form></th>

    </tr>
  </thead>
  </table>
</center>