<center><h1> <%= @competitor.name %> </h1>

Age:&nbsp;<b><%= @competitor.age %></b> &emsp;|&emsp;
College:&nbsp;<b><%= @competitor.get_college_name %></b>&emsp;|&emsp;
Conference:&nbsp;<b><%= @competitor.get_conference_name %></b>
<br>
<br>
<br>
<table border="0">
  <thead>
    <tr>
      <th>Activity&emsp;&emsp;&emsp;&emsp;&emsp;</th>
      <th>Points Earned&emsp;</th>
      <th>%Points Earned&emsp;</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>meep</td>
        <td>meep</td>
        <td>meep</td>
      </tr>
  </tbody>
</table>
</center>

<br>
<br>
<br>

<center><form method="get" action="/competitors/competitor/<%= @competitor.id %>/update_competitor">
      <input type="submit" value="Update Competitor">
</form></center>