<h1 style="color:green;">Edit competitor:</h1>

<form action="/edit/<%= @competitor.id %>" method="post">

  <input type="text" name="first_name" placeholder="<%= @competitor.first_name %>">
  <input type="text" name="last_name" placeholder="<%= @competitor.last_name %>">
  <select name="school_id">
        <option selected disabled>Choose school</option>
  			<% @list_schools.each do |s| %>
  				<option value= "<%=s.id%>"> <%=s.name%> </option>
  			<%end%>
  </select>
  <input type="submit">
  
</form>

<p><a href="/competitors"> Back </a></p>

<p><a href="/"> Home </a></p>

   
