<h1>Competitor Profile</h1>

<h3> <%= @competitor.first_name %> <%= @competitor.last_name %> </h3>

	<p>
		<a href="/school_info/<%= @competitor.school_id %>">
		<%= @competitor.school_name %>
	</p>

<!-- add list of events
 -->
<p><a href="/competitors/edit/<%= @competitor.id %>"> Edit this competitor. </a></p>

<p><a href="/"> Home </a></p>