<h1>Add Results of an Event</h1>

<p>Swimmer ID<p>

<form action="/add_result">
  <p> Add Swimmer's ID
  <input type="number" name="swimmer_id">
  <p>
  <p> Add Event ID
  <input type="number" name="event_id">
  <p>
  <p> Swimmer's Time for Event
  <input type="decimal" name="input_time">
  <p>
  <input type="submit">
</form>

<p>Current Swimmers<p>
<table border="1">
  <thead>
    <tr>
      <th>Swimmer's ID</th>
      <th>Swimmer's Name</th>
    </tr>
    <tr>
      <th>Event's ID</th>
      <th>Event's Name</th>
    </tr>
  </thead>

  <tbody>
    <% @swimmers.each do |y| %>
      <tr>
        <td>
          <%= y.id %>
        </td>
        <td>
          <a href="swimmer_bio/<%= y.id %>"> <%= y.swimmer_name %> </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>Current Events<p>
<table border="1">
  <thead>
    <tr>
      <th>Event's ID</th>
      <th>Event's Name</th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |x| %>
      <tr>
        <td>
          <%= x.id %> 
        </td>
        <td>
          <%= x.event_name %> 
        </td>
      </tr>
    <% end %>
  </tbody>
</table>










<p><a href="/show_results">View Results for all events</a><p>
<p><a href="/">Return Home</a><p> 



<!--   <select name="swimmer_id">
    <option value="swimmer_id">Swimmer</option>
  </select>

  <select name="university_id">
    <option value="university_id">University</option>
  </select>
 -->