<h1 style="color:green;">Schools</h1>

<h3> List of Schools: </h3>
	<ul>
	<% @list_schools.each do |s| %>
		<li>
			<a href = "/school_info/<%= s.id %>"> 
				<b><%= s.name %> </b>
			</a>
			: 
			<a href = "/conference_info/<%= s.conference_id %>"> <%= s.conference_name %>
			conference
			</a>
				<form action="school_delete/<%= e.id%>" method="post">
		  			<input type="submit" value="delete">
		  		</form>
		  </li>
		</p>
	<% end %>
	</ul>
<p><a href="/schools/add_new"> Add new school. </a></p>

<p><a href="/"> Home </a></p>