<h1>Schools</h1>

<h3> List of Schools: </h3>
	<ul>
	<% @list_schools.each do |s| %>
		<li>
			<a href = "/school_info/<%= s.id %>"> <%= s.name %> 
			</a>
			: 
			<a href = "/conference_info/<%= s.conference_id %>"> <%= s.conference_name %>
			conference
			</a>
			 -
		  	<a href = "school_delete/<%= s.id%>">
		  	delete
		  </li>
		</p>
	<% end %>
	</ul>
<p><a href="/schools/add_new"> Add new school. </a></p>

<p><a href="/"> Home </a></p>