<center>

<h1>School List</h1>

<table border = 1px style="width:50%">
  <tr>
    <th>School</th>
    <th>Conference</th>
    <th>Delete</th>
    <th>Edit</th>
  </tr>
  <tr>
    <% @schools.each do |school| %>
      <td align="center">
        <a href = "/view_school/<%= school.id %>">
          <%= school.school %>
        </a>
      </td>
      <td align="center">
        <%=school.conference %>
      </td>
      <td align="center">
        <form action = "/delete_school/<%= school.id %>" method = "post">
          <input type = "submit" value = "Delete">
        </form>
      </td>
      <td align="center">
        <form action = "/edit_school/<%= school.id %>" method = "get">
          <input type = "submit" value = "Edit">
        </form>
      </td>
  </tr>    
    <% end %>
</table>

<p><a href = "/">Home</a></p>

</center>