<h1 style="color:green;">School Info</h1>

<h3> <%= @school.name %> </h3>
 <h4>
 	<a href="/conference_info/<%= @school.conference_id %>">
 	<%= @school.conference_name %> 
 	Conference
 	</a>
 	</h4>

 	<ul>
 	<% @school.school_members.each do |c| %>
 		<li> 
 			<a href="/profile/<%= c.id %>">
 			<%= c.first_name %> <%= c.last_name %>
 			</a>
 		</li>
 		<% end %>
 	</ul>

<p><a href="/school/edit/<%= @school.id %>"> Edit this school. </a></p>

<p><a href="/"> Home </a></p>