<h1>School List</h1>

<table border = 1px style="width:100%">
  <tr>
    <th><center>School</center></th>
    <th><center>Conference</center></th>
    <th><center>Delete</center></th>
    <th><center>Edit</center></th>
  </tr>
  <tr>
    <% @schools.each do |school| %>
      <td>
        <a href = "/view_school/<%= school.id %>">
          <%= school.school %>
        </a>
      </td>
      <td>
        <%=school.conference %>
      </td>
      <td>
        <form action = "/delete_school/<%= school.id %>" method = "post">
          <input type = "submit" value = "Delete">
        </form>
      </td>
      <td>
        <form action = "/edit_school/<%= school.id %>" method = "get">
          <input type = "submit" value = "Edit">
        </form>
      </td>
  </tr>    
    <% end %>
</table>

<p><a href = "/">Home</a></p>