<h1>Colleges</h1>

Schools Represented in the Tournament:
<ul>
  <% @colleges.each do |list| %>
    <li><%= list.id%>. <%=list.college_name%>///Conference: <%=list.find_conference_name%></li>
  <% end %>
</ul>

<form action="/newcollege" method="post">
  <fieldset>
  <legend>Add New College</legend>
  <label for="college_name">Name of College</label>
  <input type="text" name="collegename">
  <label for="conference_of_college">Conference Number-See Below</label>
  <input type="integer" name="conferenceid">
  <input type="submit">
  </fieldset>
</form>

Conferences:
<ul>
  <% @conferences.each do |post| %>
    <li><%= post.id%>. <%=post.conference_name%></li>
  <% end %>
</ul>

<a href="/">Home</a>