<h1>Event Registration</h1>

<form action="/newsignup" method="post">
  <fieldset>
    <legend>Register for Event</legend>
      <label for="swimmer_id">Kitty ID: see below</label>
        <input type="integer" name="swimmerid">
      <label for="event_id">Event ID: see below</label>
        <input type="integer" name="eventid">
      <input type="submit">
  </fieldset>
</form>
<h2>Enrolled Kitties:<h2>
<ul>
  <% @swimmers.each do |post| %>
    <li><%= post.id%>. <%=post.swimmer_name%> Registered for: <%=post.registered_events%></li>
      
  <% end %>
</ul>
<h2>Events:<h2>
<ul>
  <% @events.each do |post| %>
    <li><%= post.id%>. <%=post.event_name%></li>
  <% end %>
</ul>

<a href="/">Home</a>