<h1>Swimmers</h1>
<h2>Enrolled Kitties:<h2>
<ul>
  <% @swimmers.each do |post| %>
    <li><%= post.id%>. 
    <%=post.first_name%> 
    <%=post.last_name%>  
    (<%=post.find_college_name%>) 
    <a href="/view_swimmer/<%=post.id%>">see more</a></li>
  <% end %>
</ul>
<form action="/newswimmername">
  <fieldset>
    <legend>Add New Kitty</legend>
      <label for="swimmer_first_name">Swimmer First Name</label>
        <input type="text" name="swimmerfirstname">
      <label for="swimmer_last_name">Swimmer Last Name</label>
        <input type="text" name="swimmerlastname">
      <label for="swimmer_college_id">College I.D. see below</label>
        <input type="text" name="collegeid">
      <input type="submit">
  </fieldset>
</form>

Schools Represented in the Conference:

<ul>
  <% @colleges.each do |list| %>
    <li><%= list.id%>. <%=list.college_name%></li>
  <% end %>
</ul>

<a href="/">Home</a>