<center><h1><%= @college.name %></h1>
Conference:&emsp; <b><%= @college.get_conference_name %></b>
<br>
<br>
<table border="0">
  <thead>
    <tr>
      <th>Competitor&emsp;&emsp;&emsp;&emsp;&emsp;</th>
      <th>Total Activites&emsp;</th>
      <th>Total Accrued Points&emsp;</th>
      <th>Total Possible Points&emsp;</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <%  @competitors.each do |c| %>
        <td><a href="/competitors/competitor/<%= c.id %>"><%= c.name %></a></td>
        <td>meep</td>
        <td>meep</td>
        <td>meep</td>
      </tr>
      <% end %>
  </tbody>
</table> 
<br>
<br>
<br>
<table border="0">
  <thead>
    <tr>

    <th><form method="POST" action="/colleges/college/<%= @college.id %>/update_college">
      <input type="submit" value="Update College"></form></th>

    <th><form method="POST" action="/colleges/college/<%= @college.id %>/delete_college/confirmation">
    <input type="submit" value="Delete College">&emsp;</form></th></form>
    </tr>
    </thead>
    </table>
    <br>
    <br>
    </center>
