<center><form  method="POST" action="/activities/activity/update_name/<%= @activity.id %>">
<input type="text" style="height:70px;font-size:36pt; text-align: center;>" name="update_activity_name_textbox" value="<%= @activity.name %>">
<br>&emsp;|&emsp;
<input type="submit" value="Update Activity Name">&emsp;|&emsp;
</form>

<form  method="POST" action="/activities/activity/update_max_score/<%= @activity.id %>">
  <select name="update_activity_max_score_dropdown">
  <option value="<%= @activity.max_score %>"><%= @activity.max_score %></option>
    <% for i in 1..25 %>
       <option value="<%= i %>"><%= i %></option>
    <% end %>  
  </select>&emsp;|&emsp;
  <input type="submit" value="Update Max Possible Score">
</form>
<br>
<br>
<table border="0">
  <thead>
    <tr>
      <th>Competitor&emsp;&emsp;&emsp;&emsp;&emsp;</th>
      <th>College&emsp;</th>
      <th>Conference&emsp;</th>
      <th>Total Activites&emsp;</th>
      <th>Competitor Score&emsp;</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>meep</td>
        <td>meep</td>
        <td>meep</td>
        <td>meep</td>
        <td>meep</td>
      </tr>
  </tbody>
</table> 
<br>
<br>
<br>
<center><a href="/">Main Page</a></center> 