<center><h1><%= @activity.name %></h1>

Max Possible Score: <b><%= @activity.max_score %></b>&emsp;|&emsp;
Status: <b><%= @activity.get_activity_locked_status %></b>
<br>
<br>
<table border="0">
  <thead>
    <tr>
      <th>Competitor&emsp;&emsp;&emsp;&emsp;&emsp;</th>
      <th>College&emsp;</th>
      <th>Conference&emsp;</th>
      <th>Total Activites&emsp;</th>
      <th>Competitor Score&emsp;</th>
    </tr>
  </thead>
  <tbody>
  <% @results.each do |r| %>
      <tr>
        <td><%= r.get_competitor_name %></td>
        <td>meep</td>
        <td>meep</td>
        <td>meep</td>
        <td>meep</td>
      </tr>
      <% end %>
  </tbody>
</table> 
<br>
<br>
<br>
<center>
<table border="0">
  <thead>
    <tr>

    <th><form method="POST" action="/activities/activity/<%= @activity.id %>/update_activity">
    <input type="submit" value="Update Activity">&emsp;</form></th>

    <th><form method="POST" action="/activities/activity/<%= @activity.id %>/delete_activity/confirmation">
    <input type="submit" value="Delete Activity">&emsp;</form></th></form>

    <th><form method="POST" action="/activities/activity/<%= @activity.id %>/lock">
    <input type="submit" value="Lock Activity">&emsp;</form></th></form>
    </tr>
    </thead>
    </table>
    <br>
    <br>
    </center>