<center><h1> Add Activity</h1>
<% if @error == true %>
  <p><%= @a.activity_already_exists_error %></p>
  <br>
  <br>
<% end %>
<form  method="POST" action="/activities/added_new_activity">
  Activity :&emsp;<input type="text" name="add_activity_textbox" value="<%= params[:add_activity_textbox] %>">&emsp;&emsp;
  Max Possible Score:&emsp;<select required name="activity_max_score_dropdown">
    <% for i in 1..25 %>
       <option value="<%= i %>"<%= "selected" if i.to_s == params[:activity_max_score_dropdown] %>><%= i %></option>
  <% end %>
  </select>
  <br><br>    
  <input type="submit" value="Add New Activity">
</form>
<br><br>

</center> 