
<h1>Here are the Schools currently competing in the Tournament</h1>
<p>
  <% @schools.each do |school| %>
    <%= school.school_name %> 
    <%= school.id %> 

  </a>
</p>
<% end %>
<h1>Here are the events in the Tournament</h1>
<p>
  <% @events.each do |event| %>
    <%= event.event_name %> 
    <%= event.id         %>
  </a>
</p>
<% end %>
<h1>Here are the Swimmers currently competing in the Tournament</h1>
<p>
  <% @swimmers.each do |swimmer| %>
    <%= swimmer.name %> 
    <%= swimmer.id   %>
    <%= swimmer.school_id %>
  </a>
</p>
<% end %>

