

<a href="/">Home</a><br>

<h1>Colleges in this Swim Meet</h1>



Here's what I want on this page

college name, conference name, college contact, college contact email, college contact phone for every college. conference name has to come from the conferences table using the conference_id foreign key. 

 Nothing that I put on this page that starts with @colleges is working. 

<p>
  

  <%= @college.college_name %> <%= @college.conference.conference_name %>
  <%= @college.contact %> <%= @college.contact_email %> <%= @college.contact_ph %>


<p>
