<h1><%= @comp_obj.name %> Competiton Winners</h1>

<%if @unscored == nil %>
  <% @os.each do |x| %>
    <p>
      <%= x.overall %> 
      <%= x.contestant.first_name %>
      <%= x.contestant.last_name %>
    </p>
  <% end %>
<% else %>
  <%= "This competition has not yet finished" %>
<% end %>