


<a href="/">Home</a><br>

<h1>Edit College Information</h1>
<p>Edit information in the appropriate blank(s) 
and click the Submit button.</p>


<form action = "/process_form_for_editing_college/<%= @college.id %>">
  <p>
    College Name:
    <input type ="text" name="college_name" 
    value="<%=@college.college_name %>">
  </p>

  <p>
    Conference ID:
    <input type ="integer" name="conference_id" 
    value="<%=@college.conference_id %>">
  </p>

  <p>
    Contact Person:
    <input type ="text" name="contact" 
    value="<%=@college.contact %>">
  </p>

  <p>
    Contact Email:
    <input type ="text" name="contact_email" 
    value="<%=@college.contact_email %>">
  </p>

  <p>
    Contact Phone:
    <input type ="text" name="contact_ph" 
    value="<%=@college.contact_ph %>">
  </p>

  

  <p><input type ="submit"></p>
</form>

  <p>
    <form action ="/lock_college/<%= @college.id %>" method="post">
      Lock This College's Information
    <input type ="submit" value="Lock">
    </form><br>
    <!-- <input type ="  " name="locked"
    value="<%=@college.locked %>"> -->
  </p>
