<!-- something

#access to @w - race object
#access to @records - collection of swimmer objects

should be able to call methods on those objects to get what I want to display on this page

watch for getting to the right controller action

just put links on home page that take you to this for race 1, race 2, etc. and giv -->


<a href="/">Home</a><br>

<h1>Race Entries</h1>

<p>Enter a race ID number from the list below to see results for all of the swimmers in that race.</p>

<form action = "/race_view/">
  <input type ="integer" name="race_id" placeholder="Race ID Number">
  <input type ="submit">
</form>

<%= @event.event_name %>

<% @event.list_of_swimmers.each do |swimmer| %>
  <p>
    <%= swimmer.first_name %> <%= swimmer.last_name%> 
    <%= swimmer.race_result(@event.id).swimmer_time %>
    <%= swimmer.race_result(@event.id).swimmer_race_rank %>
  </p>
<% end%>
