
<table border="1">
  <thead>
    <tr>
      <th>Event</th>
      <th>Swimmer</th>
      <th>Time (seconds)</th>

      
    </tr>
  </thead>

  <tbody>
    <% @signup.each do |y| %>
      <tr>
        <td><%= y.event_name %></a></td>
        <td><%= y.name %></td>
        <td><form action="/add_signup_time"><input type = "number" name = "time"><input type = "submit"></td>
        
        
      </tr>
    <% end %>
  </tbody>
</table>
  <% @signup.each do |y| %>
    <a href="view_signup/<%= y.id%>">
    <%= y.event_name%> 
    <%= y.event_time %></a></p>
  <a href="delete_signup/<%= y.id%>">
  Delete
  --
  <a href="edit_signup/<%= y.id%>">
  Edit
  </a>
</p>
<% end %>
