
<table border="1">
    <tr>
      <th>Swimmer</th>
      <th>School</th>
      <th>Conference</th>
      <th>Events(time)<th>

    </tr>
  </thead>

  <tbody>
  
      <tr>
        <td><%= @swimmer.name %></td>
        <td><%= @swimmer.school.school_name   %> </td>
        <td><%= @swimmer.school.conference_name  %></td>
        <% @signup.each do |signup| %>
        <td><%= signup.event_name %>(:<%= signup.event_time %>)</td>

        <% end %>
    
        
      </tr>
    
  </tbody>
</table>