  <center>
  <br>
    <h1> 
      Swimmers 
    </h1>
  <table border="1" cellpadding="5" cellspacing="5">
    <tr>
        <th>ID</th>
        <th>Name</th>
         <th>School</th>
      </tr>
      <% Swimmer.all.each do |n| %> 
      <tr> 
        <td><%= n.id %></td>
        <td><%= n.swimmer_name %></td>
        <td><%= School.find_by_id(n.school_id).school_name %></td>
      </tr>
      <% end %>
      <br>
      <br>   
    </table>
  <br>
  <br>
    <h1>
      Success!
    </h1>
  <br>
    Added Swimmer 
  <br>
  <br>
    <h2>
      <font color= "red">
        <%= @show_added_name %>
      </font>
    </h2>
  <br>
  <br>
    to 
      <font color= "red">
        <%= @show_added_school %>
      </font>
    's 
  <br>
    list of competitors.
  <br>
  <br>
    Swimmer's unique ID is:
  <br>
  <br>
    <h2>
      <font color= "red">
        <%= @show_school_id %>
      </font>
    </h2>
  <br>
    <a href="/view_add_swimmer">
      Add Another Swimmer
    </a>
  <br> 
    <a href="/">
      Home
    </a>
</center>
