<h1>
      Leaderboard:
    </h1>
  <br>
   <br>

<%= @show_times %>

   <br>
  <table border="1" cellpadding="5" cellspacing="5">
      <tr>
        
        <th>Name</th>
        <th>School</th>
        <th>Event</th>
        <th>Swim Time</th>
      </tr>
      <% @sorted_signup_records.each do |n| %>   
      <tr>  
        <td><%= n[0] %></td>
        <td><%= n[1] %></td>
        <td><%= n[2] %></td>
        <td><%= n[3] %></td>
        <td><%= n[4] %></td>
      </tr>
        <% end %>
      
    </table>
    