<center>
  <br>
  <br>
    <center>
<h1>
      Schools<br>
    </h1>
  <br>
   <br>
  <table border="1" cellpadding="5" cellspacing="5">
      <tr>
      <tr>
        <th>ID</th>
        <th>Name</th>
         <th>Conference</th>
      </tr>
      <% School.all.each do |n| %> 
      <tr> 
        <td><%= n.id %></td>
        <td><%= n.school_name %></td>
        <td><%= Conference.find_by_id(n.conference_id).conference_name %></td>
      
      </tr>
      <% end %>
      <br>
      <br>   
    </table>
  <br>
  <br>
    <h1>
      Success!
    </h1>
  <br>
    Added School
    <br>
    <font color= "red">
      <%= @show_added_school_name %>
    </font>
  <br>
  <br>

    to new Conference: 
  <br>
    <font color= "red">
      <%= @show_added_conference %>
    </font>
  <br>
  <br>
  <br>
      <a href="/view_add_school_and_conference">
        Add Another School and Conference
      </a>
  <br> 
    <a href="/">
      Home
    </a> 
</center>
