<center>
  <br>
 <h1>
      Current Sign-ups:
    </h1>
  <br>
   <br>
  <table border="1" cellpadding="5" cellspacing="5">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>School</th>
        <th>Event</th>
        <th>Swim Time</th>
      </tr>
      <% @sorted_signup_records.each do |n| %>   
      <tr>  
        <td><%= n[0] %></td>
        <td><%= n[1] %></td>
        <td><%= n[2] %></td>
        <td><%= n[3] %></td>
        <td><%= n[4] %></td>
      </tr>
        <% end %>
      
    </table>

  <br>
  <br>
  <br>
    <h1>
      Success!
    </h1>
  <br>
    Score Has Been Added to the Database.
  <br>
  <br>
  <br>
  <br>
    <a href="/view_add_score">
      Add Another Score
    </a>
  <br> 
    <a href="/">
      Home
    </a> 
</center>