<h1>
      Current Sign-ups:
    </h1>
  <br>
   <br>
   <% @ordered_signups_array.each do |n| %>   
  <table border="1" cellpadding="5" cellspacing="5">
      <tr>
        <th><%= n[last].get_event_name %>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>School</th>
         <th>Conference</th>
        <th>Swim Time</th>
      </tr>
      <% until @ordered_signups_array.empty? %>
      <tr>  
        <td><%= n[last].id %></td>
        <td><%= n[last].get_swimmer_name %></td>
        <td><%= n[last].get_school_name %></td>
        <td><%= n[last].get_conference_name %></td>
        <td><%= n[last].completed_swim_time %></td>
        <% n.delete(last) %>
      </tr>
        <% end %>
      
    </table>
  <br>
  <br>
  <% end %>
