<h1>List of Games</h1>
<br>
<table border="2">
  <thead>
    <tr>
      <th>Game ID</th>
      <th colspan="3">Game Name</th>
      <th>Locked?</th>
    <tr>
  </thead>

  <tbody>
    <% @games.each do |g| %>
      <tr>
        <td><center><%= g.id %></center></td>
        <td><a href="game/<%=g.id%>"><%= g.game_name %></a></td>
        <td><form action="/edit_game_form/<%=g.id%>">
              <input type="submit" value="Edit"></form>
        </td>
        <td><form action="/delete_game/<%=g.id%>" method="post">
              <input type="submit" value="Delete"></form>
        </td>
        <% if g.locked? == true %>    
        <td><form action="/lock_game/<%=g.id%>" method="post">
              <input type="submit" value="Locked"></form>
        </td> 
        <% else %>
        <td><form action="/lock_game/<%=g.id%>" method="post">
              <input type="submit" value="Unlocked"></form>
        </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<br>
<a href="/game_form">Add a Game</a>
<br>
<a href="/">Home</a>