<h1><%= @game.game_name %></h1>

<% if @game.all_results.length == 1 %>
  <p> 
    This page lists the Gamers signed up for this event. Currently there is 
    <b><%= @game.all_results.length %></b> participant enrolled in this event. 
  </p>
<% else %>
  <p>
    This page lists the Gamers signed up for this event. Currently there are 
    <b><%= @game.all_results.length %></b> participants enrolled in this event.
  </p>
<% end %>

<ul style="list-style-type: circle">
  <% @game.all_results.each do |r| %>
  <li><%= r.gamer_access.first_name %> <%= r.gamer_access.last_name %></li>
  <% end %>
</ul>

<br>
<br>
<a href="/">Home</a>