<h1><%= @game.game_name %></h1>

<% if @game.all_results.length == 1 %>
  <p> 
    This page lists the Gamers signed up for this event. Currently there is 
    <b><%= @game.all_results.length %></b> participant enrolled in this event. 
  </p>
<% else %>
  <p>
    This page lists the Gamers signed up for this event. Currently there are 
    <b><%= @game.all_results.length %></b> participants enrolled in this event.
  </p>
<% end %>

<table border="2">
  <thead>
    <tr>
      <th>Participant Name</th>
      <th>Completion Time</th>
    </tr>
  </thead>

  <tbody>
    <% @game.all_results.each do |r| %>
    <tr>
      <td>
        <a href="/gamer/<%=r.gamer_access.id%>">
        <%= r.gamer_access.first_name %> <%= r.gamer_access.last_name %>
      </td>
      <td>
        <center>
          <%= r.completion_time / 60 %>:<%=r.completion_time % 60 %>
        </center>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<ul style="list-style-type: circle">
  <%= @game.get_winners.each do |r| %>
  <li><%= r.completion_time%></li>
  <% end %>
</ul>

<br>
<br>
<a href="/">Home</a>