<h1>Edit Gamer</h1>

<p>You are currently editing a tournament participant:</p>

<form action="/update_gamer/<%= @gamer.id %>" method="post">

    <label for="last_name"><sub><i>Last Name:</i></sub></label><br>
    <input type="text" name="last_name" value="<%= @gamer.last_name %>">
    <br>
    <label for="first_name"><sub><i>First Name:</i></sub></label><br>
    <input type="text" name="first_name" value="<%= @gamer.first_name %>">
    <br>
    <br>
    <label for="squad_id"><sub><i>Squad ID:</i></sub></label><br>
    <select name="squad_id">
        <% @squads.each do |s| %>
            <option value="<%=s.id%>" 
                <%= "selected" if @gamer.squad_id == s.id %>>
                <%= s.id %>: <%= s.squad_name %>
            </option>
        <% end %>
    <br><br>
    <input type="submit">

</form>

<br><br>

<a href="/gamers_list">Back</a><br>
<a href="/">Home</a>
