<h1>Gamers Entered</h1>
<br>
<table border="1">
  <thead>
    <tr>
      <th>Gamer ID</th>
      <th>Gamer Name</th>
      <th>Squad Name</th>
    </tr>
  </thead>

  <tbody>
    <% @gamers.each do |g| %>
    <tr>
      <td><%= g.id %></td>
      <td><a href="gamer/<%=g.id%>">
          <%= g.last_name %>, <%= g.first_name %></a></td>
      <td><a href="squad/<%=g.squad_id%>">
          <%= g.squad_access.squad_name %></a></td>
    </tr>
    <% end %>
  </tbody>
</table>
<br>
<br>
<a href="/">Home</a>