<h1>Gamers Entered</h1>
<br>
<table border="2">
  <thead>
    <tr>
      <th>Gamer ID</th>
      <th colspan="3">Gamer Name</th>
      <th colspan ="2">Squad Name</th>
    </tr>
  </thead>

  <tbody>
    <% @gamers.each do |g| %>
    <tr>
      <td><center><%= g.id %></center></td>
      <td><a href="/gamer/<%=g.id%>">
            <%= g.last_name %>, <%= g.first_name %>
          </a>
      </td>
      <td><form action="/edit_gamer_form/<%=g.id%>">
              <input type="submit" value="Edit"></form>
      </td>    
      <td><form action="/delete_gamer/<%=g.id%>" method="post">
              <input type="submit" value="Delete"></form> 
      </td>    
      <td><a href="squad/<%=g.squad_id%>">
            <%= g.squad_access.squad_name %>
          </a>
      </td>
      <td>
          <a href="/division/<%=g.division_access.id%>">
            (<%= g.division_access.division %>)
          </a>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<br>
<br>
<a href="/gamer_form">Add a Gamer</a>
<br>
<a href="/">Home</a>